* {
  margin: 0;
  padding: 0;
  font-family: "\5FAE\8F6F\96C5\9ED1", sans-serif;
}
ul {
  list-style: none;
}
li {
  cursor: default;
  *vertical-align: bottom;
}
img {
  border: none;
  /*display: block;*/
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}
.create {
  width: 90%;
  height: auto;
  position: relative;
  margin: 50px auto;
}
.create .title {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  font-size: 16px;
}
.create .upload-img {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #7b7b7b;
  position: relative;
}
.create .upload-img .a-upload {
  padding: 4px 10px;
  height: 20px;
  line-height: 20px;
  position: relative;
  float: left;
  cursor: pointer;
  color: #888;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 5px 20px 0 5px;
  font-size: 16px;
}
.create .upload-img .a-upload input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.create .upload-img .a-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none;
}
.create .upload-img .showFileName {
  float: left;
  margin-top: 9px;
  font-size: 16px;
}
.create .content {
  width: 100%;
  height: 500px;
  font-size: 16px;
}
.done {
  padding: 4px 10px;
  height: 20px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  color: #888;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 50px auto;
  font-size: 16px;
}
.done:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none;
}
html {
  background-color: #E3E7EA;
}
body {
  text-align: center;
}
.head {
  width: 100%;
  height: 70px;
  background-color: #134262;
  position: relative;
}
.head p {
  position: absolute;
  top: 12px;
  left: 10%;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
