<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta id="vp" name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=no, minimal-ui"/>
    <title>John Ma</title>

    <link rel="stylesheet" href="styles/main-4f62a8b306.min.css">
</head>
<body>
    <%- body %>
    <script data-main="./scripts/main-985ee93c0f.min" src="./scripts/lib/require.js"></script>
</body>
</html>
